<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 750px;
    }
  </style>
</head>
<body>

<div class="container px-15 px-lg-20 my-20">
  <div class="py-5 text-center">
    <h2>사진 수정</h2>
  </div>

  <form th:action method="post" enctype="multipart/form-data">
    <!-- 상품 사진 -->
    <div class="row gx-10 gx-lg-15 align-items-center">
      <div class="col-md-6">
        <div class="card-img-top mb-5 mb-md-0" style="text-align: center;">
          <input type="file" id="thumbnailName" name="thumbnailName" class="form-control">
        </div>
      </div>

      <!-- 상품 설명 -->
      <div class="col-md-6">
        <div>
          <label for="itemName">상품명</label>
          <input type="text" id="itemName" name="itemName" class="form-control" th:value="${item.itemName}" readonly>
        </div>
        <div>
          <label for="price">가격</label>
          <input type="text" id="price" name="price" class="form-control" th:value="${item.price}" readonly>
        </div>
        <div>
          <label for="seller">판매자</label>
          <input type="text" id="seller" name="seller" class="form-control" th:value="${item.seller}" readonly>
        </div>
        <div>
          <label for="content">상품설명</label>
          <input type="text" id="content" name="content" class="form-control" th:value="${item.content}" readonly>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg" type="submit" id="thumbnailUpdate">수정완료
          </button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-secondary btn-lg" type="button"
                  th:onclick="|location.href='@{|/item/items/${item.id}|}'|">수정취소
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  const thumbnailUpdate = document.querySelector("#thumbnailUpdate");
  thumbnailUpdate.addEventListener("click", () => {
    alert("사진이 수정되었습니다");
  });
</script>

</body>
</html>