<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/item/items/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>
</div>
<hr class="my-4">
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
        <div class="col mb-5" th:each="item : ${items}">
            <div class="card h-100">
                <img class="card-img-top" th:src="@{|/item/items/images/${item.getThumbnailUUID()}|}">
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder" th:text="${item.getItemName()}">상품명</h5>
                        <p th:text="|${item.getPrice()} 원|">가격</p>
                        <p th:text="|${item.getAvgStar()}|">별졈평균</p>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                th:href="@{|/item/items/${item.id}|}">상세보기</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>